<html>
	<head>
		{% if title %}
		<title>{{title}}-Text Summarizer</title>
		{% else %}
		<title>Text Summarizer</title>
		{% endif %}
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  		<style type="text/css"></style>
  		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_base.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header" style="padding-right:20px;">
				<a class="navbar-brand" href="{{url_for('text')}}">Text Summarizer</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="{{url_for('text')}}">Text</a></li>
				<li><a href="{{url_for('pdf')}}">PDF</a></li>
				<li><a href="{{url_for('url')}}">URL</a></li>
			</ul>
		</div>
	</nav>

		{% block content %}
		{% endblock %}
	</body>
</html>